* {
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: black;
}
.middle-part {
  background-image: url("../../assets/backhorror.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 40rem;
  background-color: black;
}
.text-area {
  width: 100vw;
  color: white;
  font-size: xxx-large;
  text-align: center;
}
.cards {
 
  height: 2 0rem; 
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: row;
  /* float: right; */
}
