body {
    text-align: center;
    background-color: black;
  }
  
  h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 0.188rem 0 #DA0463;
  }
  
  .set {
    margin: 5% auto;
  }
  
  .music {
    outline: none;
    border: 0.625rem solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 0.188rem 0 #DBEDF3;
    border-radius: 0.938rem;
    display: inline-block;
    width: 15.625rem;
    height: 15.625rem;
    text-align: center;
    margin: 0.625rem;
    background-color: white;
    cursor: pointer;
  }
   
  #guitar{
    background-image:url(guitar.png);
    background-size:cover;
    background-position: center;
    
  }

  #drum{
    background-image:url(drum.png);
    background-size: cover;
    background-position: center;

  }

  
  #flute{
    background-image:url(flute.jpg);
    background-size: cover;
    background-position: center;
    
  }

  #harmonium{
    background-image:url(harmonium.png);
    background-size: cover;
    background-position: center;
    
  }

  #piano{
    background-image:url(piano.png);
    background-size: cover;
    background-position: center;
    
  }

  #bell{
    background-image:url(bell.png);
    background-size: cover;
    background-position: center;
    
  }

  #tabla{
    background-image:url(tabla.png);
    background-size: cover;
    background-position: center;
    
  }

  #violen{
    background-image:url(violin.png);
    background-size: cover;
    background-position: center;
    
  }

  #mandolin{
    background-image:url(mandolin.png);
    background-size: cover;
    background-position: center;
    
  }

  #harp{
    background-image:url(harp.png);
    background-size: cover;
    background-position: center;
    
  }
  
  
  .music.pressed {
    box-shadow: 0 0.188rem 0.25rem 0 #DBEDF3;
    opacity: 0.5;
  }
  