  .outer {
  text-align: center;
  width: 100%;
  height: 105vh;
  background-image: url('../g4.jpg'); 
  background-size: cover;
  overflow-y: hidden;

  }

  
  .heading {
    width: 100%;
    height: 90%;
    top: 0;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Creepster", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 4vw; /* Responsive font size */
  }
  
  .scoreboard {
    position: absolute;
    /* top: 4.1rem; */
    margin: 15% 0 5rem 0;
    width: 100%;
    height: 90%;
     /* Adjusted top margin for smaller screens */
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Creepster", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 3vw; /* Responsive font size */
  }
  
  /* Responsive styles using media queries */
  @media (min-width: 768px) {
    .question-card {
      left: 10%;
      width: 80%;
      
    }
  
    .quescnt {
      font-size: 2.5vw; /* Responsive font size */
    }
  
    .question-text {
      font-size: 2vw; /* Responsive font size */
    }
  
    li {
      font-size: 1.5vw; /* Responsive font size */
    }
  }
  
  @media (min-width: 1200px) {
    .question-card {
      left: 15%;
      width: 70%;
    }
  }
  
  .question-card {
  
    position: absolute;
    top: 30%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    width: 47%;
    padding: 16px;
    color: white;
    font-size: medium;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  .quescnt{
   
    font-family: "Black Ops One", system-ui;
    font-size:30px ;
    margin: auto;
  }
  
  .unlist {
    list-style: none;
   margin-left: 40px;
  }
  
  .litem {
    margin-top: 8px;
    
    background-color: rgb(33 15 15);
    border: 3px solid #775d5d;
    border-radius: 20px;
     /* height:3%;  */
    width: 80%;
    font-size: 20px;
    padding: 15px;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    overflow-y: hidden;
  
  }
  .litem:hover{
    cursor:pointer;
  }
  
  
  .litem:active{
    background-color: rgb(222, 165, 150);
    color: black;
  }
  
  .question-text {
    color: rgb(75 255 235);
    font-size: 24px;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    margin: auto;
  
  }
  
  
  
  .final-results {
  
    position: absolute;
    top: 30%;
    left: 25%;
    display: flex;
    flex-direction: column;
      justify-content: center;
    margin: 0 auto;
  
   
    width: 50%;
    /* height: auto; */
    margin-top: 64px;
  
  
    padding: 16px;
    color: white;
  
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  
  .btn {
    background-color: #00CC00; 
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  
    border-radius: 24px;
  } 