* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55rem;
    background: url("images/bg.jpg");
  }
  
  
  .artistContainer {
    padding: 1.563rem;
    border-radius: 0.625rem;
    background: black;
    box-shadow: 0.313rem 0.313rem 1.875rem rgba(150, 75, 0, 0.8);
  }
   
  .heading{
    position: absolute;
    z-index: 99;
    top: 0.938rem;
    width: 100%;
    font-size: 1.875rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
  }
  
  .cards, .card, .display {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cards {
    height: 31.25rem;
    width: 31.25rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .cards .card {
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 62.5rem;
    transform-style: preserve-3d;
    height: calc(100% / 5  - 0.625rem);
    width: calc(100% / 4 - 0.625rem);
  }
  
  .card.shake {
    animation: shake 0.35s ease-in-out;
  }
  
  @keyframes shake {
  
    0%,
    100% {
        transform: translateX(0);
    }
  
    20% {
        transform: translateX(-0.813rem);
    }
  
    40% {
        transform: translateX(0.813rem);
    }
  
    60% {
        transform: translateX(-0.5rem);
    }
  
    80% {
        transform: translateX(0.5rem);
    }
  }
  
  .card .display {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.438rem;
    background: #fff;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 0.188rem 1.875rem rgba(225, 164, 12, 0.668);
    transition: transform 0.25s linear;
  }
  
  .card .front01 img {
    width: 2.231rem;
  }
  
  .card:hover{
    transform: scale(1.075);
    transition: transform 0.2s linear;
  }
  .card .back01 img {
    max-width: 4.313rem;
  }
  
  .card .back01 {
    transform: rotateY(-180deg);
  }
  
  .card.flip .back01 {
    transform: rotateY(0);
  }
  
  .card.flip .front01 {
    transform: rotateY(180deg);
  }
  
  @media screen and (max-width: 43.75rem) {
    .cards {
        height: 21.875rem;
        width: 21.875rem;
    }
  
    .card .front01 img {
        width: 1.063rem;
    }
  
    .card .back01 img {
        max-width: 2.5rem;
    }
  }
  
  @media screen and (max-width: 33.125rem) {
    .cards {
        height: 18.75rem;
        width: 18.75rem;
    }
  
    .card .front01 img {
        width: 0.938rem;
    }
  
    .card .back01 img {
        max-width: 2.188rem;
    }
  }